.f-fs50 { font-size: 50px; }
.f-fs18 { font-size: 18px; }

.s-c0 { color: #FFF; }
.s-c1 { color: #23AFFF; }
.s-c2 { color: #414141; }
.s-c3 { color: #5FBE55; }
.s-c4 { color: #FA8787; }
.s-c5 { color: #FF6400; }
.s-c6 { color: #FFC30F; }
.s-c7 { color: #EE9D34; }
.s-c8 { color: #A073D2; }
.s-c9 { color: #8755BE; }
.s-c10 { color: #69D7DC; }
.s-c11 { color: #23AFB9; }
.s-c12 { color: #F57364; }
.s-c13 { color: #DC4637; }
.s-c14 { color: #5FBE55; }
.s-c15 { color: #37A528; }
.s-c16 { color: #323232; }
.s-c17 { color: #787878; }
.s-c18 { color: #E6E6E6; }
.s-c19 { color: #F5F5F5; }
.s-c20 { color: #D0EAFB; }

.s-bc0 { color: #FFF; }
.s-bc1 { color: #23AFFF; }
.s-bc2 { color: #414141; }
.s-bc3 { color: #5FBE55; }
.s-bc4 { color: #FA8787; }
.s-bc5 { color: #FF6400; }
.s-bc6 { color: #FFC30F; }
.s-bc7 { color: #EE9D34; }
.s-bc8 { color: #A073D2; }
.s-bc9 { color: #8755BE; }
.s-bc10 { color: #69D7DC; }
.s-bc11 { color: #23AFB9; }
.s-bc12 { color: #F57364; }
.s-bc13 { color: #DC4637; }
.s-bc14 { color: #5FBE55; }
.s-bc15 { color: #37A528; }
.s-bc16 { color: #323232; }
.s-bc17 { color: #787878; }
.s-bc18 { color: #E6E6E6; }
.s-bc19 { color: #F5F5F5; }
.s-bc20 { color: #D0EAFB; }