.s-c0 { color: #fff; }
.s-c1 { color: #2d9bd2; }
.s-c2 { color: #0082be; }
.s-c3 { color: #4bb941; }
.s-c4 { color: #ff9600; }
.s-c5 { color: #edf6fa; }
.s-c6 { color: #d4e7f0; }
.s-c7 { color: #b9c8d2; }
.s-c8 { color: #a5b9c8; }
.s-c9 { color: #b9c8d2; }
.s-c10 { color: #323232; }
.s-c11 { color: #787878; }
.s-c12 { color: #32a023; }
.s-c13 { color: #fe0000; }

.s-bc0 { background-color: #fff; }
.s-bc1 { background-color: #2d9bd2; }
.s-bc2 { background-color: #0082be; }
.s-bc3 { background-color: #4bb941; }
.s-bc4 { background-color: #ff9600; }
.s-bc5 { background-color: #edf6fa; }
.s-bc6 { background-color: #d4e7f0; }
.s-bc7 { background-color: #b9c8d2; }
.s-bc8 { background-color: #a5b9c8; }
.s-bc9 { background-color: #b9c8d2; }
.s-bc10 { background-color: #323232; }
.s-bc11 { background-color: #787878; }
.s-bc12 { background-color: #32a023; }
.s-bc13 { background-color: #fe0000; }