
.left-gmenu {
    width:400px;
    border: 1px solid #d3d3d3;
    border-left:0 ;
    border-bottom: 0;
    margin-left: 0;
}
.left-gmenu .u-grid,
.right-gmenu .u-grid{
    border: 0;
}
.left-gmenu .u-grid .grid-body tr:not(.jqgfirstrow) {
    height: 40px;
    font-size: 12px;
    text-align: center;
}
.right-gmenu{
    top: 50px;
    position: absolute;
    border: 1px solid #d3d3d3;
    border-right:0 ;
    border-bottom: 0;
    margin-left: 420px;
}

.right-gmenu .u-grid .grid-body tr:not(.jqgfirstrow) {
    height: 40px;
    font-size: 12px;
    text-align: center;
}

#modifyDictEntryRowModal input {
    font-family: SimSun;
    font-size: 12px;
    height: 30px;
    width:240px;
}

.msg-modal {
    border-radius: 2px;
}

.msg-dialog {
    width: 322px;
}

.msg-body {
    height: 116px;
}
.modal-header {
    background-color: #2d9bd2;
    height: 40px;
}
#dictEntryGrid table input{
    height: 15px;
    width: 15px;
}

.image-search{
    margin-left:210px;
    margin-top: -25px;
    width: 20px;
    height: 20px;
    background: url(../../../images/Search_btn.png);
}
.image-search:hover{
    margin-left:210px;
    margin-top: -25px;
    width: 20px;
    height: 20px;
    background: url(../../../images/Search_btn_pre.png);
}

.image-create{
    margin-left:340px;
    margin-top: -25px;
    width: 22px;
    height: 22px;
    background: url(../../../images/add_btn.png);
}
.image-create:hover{
    margin-left:340px;
    margin-top: -25px;
    width: 22px;
    height: 22px;
    background: url(../../../images/add_btn_pre.png);
}

.condition input{
     font-family: SimSun;
     font-size: 12px;
     height: 30px;
     width:240px;
 }

.modal-body .table tr td {
    border: solid 0;
    padding: 5px;
}

.modal-body .table input {
    font-family: SimSun;
    font-size: 12px;
    height: 30px;
    width: 240px;
}

.modal-body .table select {
    font-family: SimSun;
    font-size: 12px;
    height: 30px;
    width: 240px;
}
.modal-footer button {
    width: 84px;
}
.modal-footer {
    border-top: 0;
    background-color:#fff;
}
#baseDict{
    width: 250px;
}