<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:hdp="http://www.springframework.org/schema/hadoop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/hadoop
       http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

    <!--业务Beans, 使用注解方式-->
    <context:component-scan base-package="com.yihu.ehr"/>

    <!--Hadoop配置-->
    <hdp:configuration resources="classpath:hadoop/client/hbase-site.xml"/>
    <hdp:hbase-configuration configuration-ref="hadoopConfiguration" delete-connection="false"/>

    <bean id="hbaseTemplate" class="com.yihu.ha.data.nosql.CustomHbaseTemplate">
        <property name="configuration" ref="hbaseConfiguration"/>
        <property name="enableKerberos" value="false"/>
        <property name="keyTable" value="kerberos/client/hadoopdev.keytab"/>
        <property name="user" value="hadoopdev/cOde@for_hadoop"/>
        <property name="configFile" value="kerberos/client/krb5.conf"/>
    </bean>

    <bean id="hbaseInterceptor" class="org.springframework.data.hadoop.hbase.HbaseInterceptor">
        <property name="configuration" ref="hadoopConfiguration"/>
        <property name="tableNames">
            <list>
                <value>HealthArchives</value>
                <value>HealthEvents</value>
            </list>
        </property>
    </bean>

    <!--Quartz Scheduler-->
    <bean id="com.yihu.ha.SchedulerFactory" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="autoStartup" value="false"/>
        <property name="schedulerName" value="EhrArchiveScheduler" />
    </bean>

    <!--Spring与Quartz整合参见：http://www.meiriyouke.net/?p=82，或者也可以参考官方文档。-->

    <!--
    <bean id="archiveJob" class="com.yihu.ha.jobs.model.archive.JsonArchiveJob"/>
    <bean id="jsonArchiveJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="group" value="DefaultJobGroup"/>
        <property name="name" value="EHR.Archiver"/>
        <property name="concurrent" value="false"/>
        <property name="targetObject" ref="archiveJob"/>
        <property name="targetMethod" value="execute"/>
    </bean>
    <bean id="jsonArchiveTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="name" value="EHR.Archiver"/>
        <property name="group" value="DefaultTriggerGroup"/>
        <property name="jobDetail" ref="jsonArchiveJobDetail"/>
        <property name="cronExpression" value="0/2 * * * * ?"/>
    </bean>
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="jsonArchiveTrigger"/>
            </list>
        </property>
        <property name="autoStartup" value="true"/>
    </bean>-->
</beans>