<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>健康档案开放平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<h1>健康档案开放平台第三方应用授权</h1>

<div id="content">

    <h2>确认授权</h2>

    <p th:text="'您即将为应用 ' + ${clientName} + ' 授予您的个人信息访问授权：'" />

    <form id="confirmationForm" name="confirmationForm" action="login/oauth/authorize" method="post">
        <input name="user_oauth_approval" value="true" type="hidden"/>
        <label><input name="authorize" value="Authorize" type="submit"/></label>
    </form>
    <form id="denialForm" name="denialForm" action="login/oauth/authorize" method="post">
        <input name="user_oauth_approval" value="false" type="hidden"/>
        <label><input name="deny" value="Deny" type="submit"/></label>
    </form>
</div>
</body>
</html>
