#dataGrid .u-grid {
    border: 0;
}

#dataGrid .u-grid .grid-body tr:not(.jqgfirstrow) {
    height: 40px;
    font-size: 12px;
    text-align: center;
}

.modal-header {
    background-color: #2d9bd2;
    height: 40px;
}

.modal-body .table tr td {
    font-size: 12px;
    border: solid 0;
    padding: 5px;
}
.tags-model{
    width: 360px;;
    border: 1px solid #d3d3d3;
    margin-top: -30px;
}
.msg-modal {
    border-radius: 2px;
}

.msg-dialog {
    width: 322px;
}

.msg-body {
    height: 116px;
}
input {
    font-family: SimSun;
    font-size: 12px;
    height: 30px;
    width: 240px;
}
select {
    font-family: SimSun;
    font-size: 12px;
    height: 30px;
    width: 240px;
}
.modal-body input[disabled] {
    color: #848484 !important;
    background-color: #edf6fa !important;
    border: solid 0;
}
.modal-body input[readonly] {
    color: #848484 !important;
    background-color: #edf6fa !important;
    border: solid 0;
}
.modal-body .table .disabled-input {
    background-color: #fff !important;
    border: 1px solid #d3d3d3;
}

textarea{ font-family: SimSun;
    font-size: 12px;height: 60px;width: 240px;}
textarea[disabled]{ height: 60px;width: 240px;color: #848484;background-color: #edf6fa;border: solid 0;}

.tags-image{
    width: 22px;
    height: 22px;
    background: url(../../images/add_btn_pre.png);
}
.tags-clean{
    margin-left:175px;
    margin-top: -24px;
    width: 20px;
    height: 20px;
    background: url(../../images/Close_btn01.png);
}
.tags-clean:hover{
    margin-left:175px;
    margin-top: -24px;
    width: 20px;
    height: 20px;
    background: url(../../images/Close_btn_pre01.png);
}
.tags-paste{
    width:64px;
}
.option-up{
    cursor: pointer;
    background-color: #edf6fb;
    padding:8px 14px 8px 14px;
}
.option-up:hover{
    cursor: pointer;
    background-color: #2d9bd2;
    padding:8px 14px 8px 14px;
}
.option-tr-td>td{
    cursor: pointer;
    color: #2d9bd2;
    width:50px;
}
.tags{
    border:0;
    width:208px;
}

.modal-footer {
    border-top: 0;
    background-color:#fff;
}

.modal-footer button {
    width: 84px;
}
.condition button{
    width: 84px;
}