<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>健康档案开放平台</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../../css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div id="content" class="container">
    <h1>健康档案开放平台应用授权</h1>

    <legend>确认授权</legend>

    <p th:text="'即将为应用 ' + ${authorizationRequest.clientId} + ' 授予您的下列个人信息访问授权：'"/>

    <form id='confirmationForm' name='confirmationForm' action='authorize' method='post'>
        <input name='user_oauth_approval' value='true' type='hidden'/>
        <input th:name="${_csrf.parameterName}?:${_csrf.parameterName}" th:value="${_csrf.token}?:${_csrf.token}" type='hidden'/>
        <div class='container' th:each="scope, iterStat:${scopes}">
            <span style="width: 100px; display:inline-block" th:text="${scope}"/>
            <input type='radio' th:name="${scope}" value='true'>允许</input>
            <input type='radio' th:name="${scope}" value='false'>拒绝</input>
        </div>
        <label><input name='authorize' value='确认授权' type='submit' class="btn btn-primary"/></label>
    </form>

    <form id='denialForm' name='denialForm' action='authorize' method='post'>
        <input name='user_oauth_approval' value='false' type='hidden'/>
        <input type='hidden' th:name="${_csrf.parameterName}?:${_csrf.parameterName}" th:value="${_csrf.token}?:${_csrf.token}"/>
        <label><input name='deny' value='拒绝授权' type='submit' class="btn"/></label>
    </form>
</div>
</body>
</html>

