.mb_bar_detail_2{
    display: none;
    height: 480px;
    margin: 10px;
    padding-top: 30px;
    border-top: 1px solid #E6E6E6;
}

.mb_large_prev{
    display: block;
    position: absolute;
    margin-top: 200px;
    margin-left: 16px;
    width: 20px;
    height: 36px;
    background: url("../imgs/left02_btn_pre.png") no-repeat scroll 0 0 transparent;
}

.mb_large_prev.disabled{
    background: url("../imgs/left02_btn.png") no-repeat scroll 0 0 transparent;
}

.mb_large_next{
    display: block;
    position: absolute;
    margin-top: 200px;
    margin-left: 900px;
    width: 20px;
    height: 36px;
    background: url("../imgs/right02_btn_pre.png") no-repeat scroll 0 0 transparent;
}

.mb_large_next.disabled{
    background: url("../imgs/right02_btn.png") no-repeat scroll 0 0 transparent;
}